/* line 2, ../sass/destiny.scss */
.destiny-overlay {
  background-color: rgba(51, 51, 51, 0.6);
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 12, ../sass/destiny.scss */
.destiny-overlay .destiny-content {
  background-color: rgba(27, 27, 27, 0.7);
  border-top: 0.5vmin solid;
  left: 50%;
  max-height: 90%;
  height: 40%;
  margin-top: -4vmin;
  min-height: 40%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
/* line 25, ../sass/destiny.scss */
.destiny-overlay .destiny-row {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 30, ../sass/destiny.scss */
.destiny-overlay .destiny-row .destiny-icon {
  border: 1.8vmin solid;
  border-radius: 50%;
  display: table-cell;
  font-size: 20vmin;
  height: 20vmin;
  line-height: 20vmin;
  text-align: center;
  width: 20vmin;
}
/* line 40, ../sass/destiny.scss */
.destiny-overlay .destiny-row .destiny-text {
  display: table-cell;
  font-size: 3vmin;
  position: relative;
  top: 1vmin;
  left: 3vmin;
  vertical-align: top;
}
/* line 47, ../sass/destiny.scss */
.destiny-overlay .destiny-row .destiny-text h1 {
  font-size: 3vmin;
  letter-spacing: 0.2em;
  margin-bottom: 1.6em;
  text-transform: uppercase;
}
/* line 55, ../sass/destiny.scss */
.destiny-overlay .destiny-buttons {
  background-color: #000000;
  bottom: -4vmin;
  font-size: 3vmin;
  height: 4vmin;
  line-height: 4vmin;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 64, ../sass/destiny.scss */
.destiny-overlay .destiny-buttons p {
  cursor: pointer;
  display: inline-block;
  margin-right: 5vmin;
}
/* line 68, ../sass/destiny.scss */
.destiny-overlay .destiny-buttons p:last-of-type {
  margin-right: 0;
}
/* line 74, ../sass/destiny.scss */
.destiny-overlay.destiny-default .destiny-content {
  border-color: #2f5c59;
}
/* line 78, ../sass/destiny.scss */
.destiny-overlay.destiny-default .destiny-row .destiny-icon {
  border-color: #777777;
  color: #777777;
}
/* line 85, ../sass/destiny.scss */
.destiny-overlay.destiny-primary .destiny-content {
  border-color: #0070ac;
}
/* line 89, ../sass/destiny.scss */
.destiny-overlay.destiny-primary .destiny-row .destiny-icon {
  border-color: #428bca;
  color: #428bca;
}
/* line 96, ../sass/destiny.scss */
.destiny-overlay.destiny-success .destiny-content {
  border-color: #149d3e;
}
/* line 100, ../sass/destiny.scss */
.destiny-overlay.destiny-success .destiny-row .destiny-icon {
  border-color: #5cb85c;
  color: #5cb85c;
}
/* line 107, ../sass/destiny.scss */
.destiny-overlay.destiny-info .destiny-content {
  border-color: #13a5c0;
}
/* line 111, ../sass/destiny.scss */
.destiny-overlay.destiny-info .destiny-row .destiny-icon {
  border-color: #5bc0de;
  color: #5bc0de;
}
/* line 118, ../sass/destiny.scss */
.destiny-overlay.destiny-warning .destiny-content {
  border-color: #a89230;
}
/* line 122, ../sass/destiny.scss */
.destiny-overlay.destiny-warning .destiny-row .destiny-icon {
  border-color: #f0ad4e;
  color: #f0ad4e;
}
/* line 129, ../sass/destiny.scss */
.destiny-overlay.destiny-danger .destiny-content {
  border-color: #4e1412;
}
/* line 133, ../sass/destiny.scss */
.destiny-overlay.destiny-danger .destiny-row .destiny-icon {
  border-color: #962f30;
  color: #962f30;
}
/* line 140, ../sass/destiny.scss */
.destiny-overlay.destiny-fade-in {
  opacity: 0;
  -moz-animation: destiny-fade-in 1s 1 both;
  -webkit-animation: destiny-fade-in 1s 1 both;
  animation: destiny-fade-in 1s 1 both;
}
/* line 144, ../sass/destiny.scss */
.destiny-overlay.destiny-fade-out {
  -moz-animation: destiny-fade-out 1s 1 both;
  -webkit-animation: destiny-fade-out 1s 1 both;
  animation: destiny-fade-out 1s 1 both;
}

@-moz-keyframes destiny-fade-in {
  /* line 150, ../sass/destiny.scss */
  0% {
    opacity: 0;
  }

  /* line 153, ../sass/destiny.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes destiny-fade-in {
  /* line 150, ../sass/destiny.scss */
  0% {
    opacity: 0;
  }

  /* line 153, ../sass/destiny.scss */
  100% {
    opacity: 1;
  }
}
@keyframes destiny-fade-in {
  /* line 150, ../sass/destiny.scss */
  0% {
    opacity: 0;
  }

  /* line 153, ../sass/destiny.scss */
  100% {
    opacity: 1;
  }
}
@-moz-keyframes destiny-fade-out {
  /* line 158, ../sass/destiny.scss */
  0% {
    opacity: 1;
  }

  /* line 161, ../sass/destiny.scss */
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes destiny-fade-out {
  /* line 158, ../sass/destiny.scss */
  0% {
    opacity: 1;
  }

  /* line 161, ../sass/destiny.scss */
  100% {
    opacity: 0;
  }
}
@keyframes destiny-fade-out {
  /* line 158, ../sass/destiny.scss */
  0% {
    opacity: 1;
  }

  /* line 161, ../sass/destiny.scss */
  100% {
    opacity: 0;
  }
}
